/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  background-color: #b0a8d9;
  position: relative;
}

/* Header */
header {
  background-color: #f09e34;
  font-size: 24px;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* Additional Styles for Header and Logo Container */
header.header-hidden {
  transform: translateY(-100%);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.logo-container h1 {
  margin: 0;
  font-size: 48px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Navigation */
nav {
  text-align: center;
  background-color: darkslategrey;
  padding: 10px 0;
  border-radius: 20px;
  border: 2px solid #333;
  width: 95%;
  margin: 0 auto;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
  position: relative;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  position: relative;
}

/* Add vertical line between navigation items */
nav a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  height: 70%;
  width: 1px;
  background-color: #fff;
}

/* Remove vertical line from the last navigation item */
nav li:last-child a::before {
  display: none;
}

nav a:hover {
  background-color: #808080;
}

/* Main Content */
main {
  font-size: 18px;
  padding: 20px;
  margin-top: 100px;
}

/* Home Section */
#home {
  text-align: center;
  margin-top: 85px;
  background-color: #edf2f7;
  padding: 60px 0;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border-radius: 10px;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#home h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000;
}

#home p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #000;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

/* Our Courses Section */
#courses {
  text-align: center;
  background-color: #edf2f7;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course {
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 10px;
  background-color: #f7fafc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.course img {
  max-width: 100%;
  border-radius: 8px;
}

.course h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

.course p {
  font-size: 16px;
  color: #555;
}

/* Upcoming Events and Testimonials Section */
#events,
#testimonials {
  text-align: center;
  background-color: #edf2f7;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Upcoming Events Section */
#events {
  text-align: center;
  background-color: #edf2f7;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#events h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.event,
.testimonial {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7fafc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.event h3,
.testimonial p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.event p,
.testimonial p {
  font-size: 16

px;
  color: #555;
}

/* About Us Section */
#about {
  text-align: center;
  background-color: #edf2f7;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#about h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #000000;
}

#about p {
  font-size: 16px;
  color: #000;
}

/* Contact Us Section */
#contact {
  text-align: center;
  background-color: #edf2f7;
  padding: 60px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-heading {
  font-size: 36px;
  color: #fff;
}

#contact form {
  max-width: 400px;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #f7fafc;
  color: #000;
}

#contact button {
  display: block;
  width: 106%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#contact button:hover {
  background-color: #555;
}

/* Address Section */
#address {
  text-align: center;
  background-color: #edf2f7;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#address h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #000000;
}

#address p {
  font-size: 16px;
  color: #000;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 0 0 10px 10px;
}

/* Back-to-top Button */
#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  background-color: #333;
  color: #fff;
  padding: 16px 24px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.8;
  display: none;
}

#back-to-top-btn.show {
  display: block;
}

#back-to-top-btn:hover {
  opacity: 1;
}

/* Social Media Section */
#social-media {
  text-align: center;
  background-color: #edf2f7;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#social-media .section-heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000000;
}

#social-media .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#social-media .social-link {
  text-decoration: none;
  color: #000000;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

#social-media .social-link:hover {
  color: #808080;
}

/* Media Queries for Responsive Design */

/* Small devices (phones) */
@media only screen and (max-width: 375px) {
  body {
    font-size: 14px;
  }

  header {
    font-size: 20px;
  }

  .logo-container h1 {
    font-size: 32px;
    padding: 5px 10px;
  }

  nav a {
    font-size: 16px;
  }

  main {
    font-size: 16px;
    padding: 10px;
  }

  .btn {
    padding: 10px 20px;
  }

  .course,
  .event,
  .testimonial {
    width: 90%;
  }

  #home h1 {
    font-size: 32px;
  }

  #home p {
    font-size: 14px;
  }

  #events h2 {
    font-size: 32px;
  }

  .contact-heading {
    font-size: 32px;
  }

  #about h2 {
    font-size: 32px;
  }

  #address h2 {
    font-size: 32px;
  }

  #social-media .section-heading {
    font-size: 32px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 376px) and (max-width: 768px) {
  .course {
    width: 60%;
  }

  .contact-heading,
  #home h1,
  #events h2,
  #about h2,
  #address h2,
  #social-media .section-heading {
    font-size: 40px;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 769px) and (max-width: 2000px) {
  .course {
    width: 30%;
  }
}
